<div class="row w-100 h-100">
  <div class="col-md-4">
    <h3 class="text-white text-center">{{datenow | date:'long'}}</h3>
    <app-temp-card [tempc]="tempnowC" [tempf]="tempnowF"></app-temp-card>

    <div class="mt-5">
      <div *ngFor="let temp of othertemps" class="card shadow-sm bg-light border rounded-lg mx-auto p-1 w-50 my-1">
        <!-- <h5 class="text-muted text-center">{{temp.time | date}}</h5> -->
        <div class="row">
          <h4 class="mx-auto text-dark">{{temp.temp}} C</h4>
          <h4 class="mx-auto text-dark">{{ (temp.temp * 9/5) + 32.0}} F</h4>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <div class="rounded mt-4">
      <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </div>
  </div>

  <div class="col-md-4">

  </div>
</div>